body {
	margin: 0;
	padding: 0;
	}
  h2,
	   h3 {
		 margin: 10px;
		 font-size: 14px;
	   }
	   h3 {
		 font-size: 14px;
	   }
	   p {
		 margin: 10px;
	   }

 .map-overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	margin-right: 20px;
	font-family: Arial, sans-serif;
	overflow: auto;
	border-radius: 3px;
	}

 #map { position: absolute; top: 0; bottom: 0; width: 100%; }

 .ShowHide {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1963D1;
	color: #FFFFFF;
	padding:4px;
	position: absolute;
	top: .6em;
	right: .6em;
  }
  #left {
	overflow: hidden;
	text-align: center;
	height: 20px;
  }
  #right {
	float: right;
	width: 30px;
	height: 20px;
	text-align: center;
  }
  .ShowHide a {
	 color: #FFFFFF;
	 text-decoration: none;
  }
  .ShowHide a:hover {
	 text-decoration:underline;
  }

 #legend {
		 opacity: 0.75;
		 padding: 10px;
		 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		 line-height: 16px;
		 font-size: 13px;
		 height: 240px;
		 margin-bottom: 40px;
		 width: 90px;
	   }
	.legend-key {
		 display: inline-block;
		 border-radius: 20%;
		 width: 10px;
		 height: 10px;
		 margin-right: 5px;
	   }

a:link {
	text-decoration: none;
	color: #000000;
	}
	
	a:visited {
	text-decoration: none;
	color: #000000;
	}
	
	a:hover {
	text-decoration: underline;
	color: #000000;
	}
	
	a:active {
	text-decoration: underline;
	color: #000000;
	}

html,
body,
#map {
	height: 100%;
	width: 100%;
	z-index: 0;
}

.header {
    height: 4em;
    min-width: 300px;
    z-index: 1;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #000000;
	position: absolute;
	top: .6em;
	left: .6em;
  }
  
body {
	margin: 0;
	padding: 0;
	}
  h2,
	   h3 {
		 margin: 10px;
		 font-size: 14px;
	   }
	   h3 {
		 font-size: 14px;
	   }
	   p {
		 margin: 10px;
	   }

 .map-overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	margin-right: 20px;
	font-family: Arial, sans-serif;
	overflow: auto;
	border-radius: 3px;
	}

 #map { position: absolute; top: 0; bottom: 0; width: 100%; }

 #legend {
		 opacity: 0.75;
		 padding: 10px;
		 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		 line-height: 16px;
		 font-size: 13px;
		 height: 240px;
		 margin-bottom: 40px;
		 width: 90px;
	   }
	.legend-key {
		 display: inline-block;
		 border-radius: 20%;
		 width: 10px;
		 height: 10px;
		 margin-right: 5px;
	   }

a:link {
	text-decoration: none;
	color: #000000;
	}
	
	a:visited {
	text-decoration: none;
	color: #000000;
	}
	
	a:hover {
	text-decoration: underline;
	color: #000000;
	}
	
	a:active {
	text-decoration: underline;
	color: #000000;
	}

html,
body,
#map {
	height: 100%;
	width: 100%;
	z-index: 0;
}

.header {
    height: 4em;
    min-width: 300px;
    z-index: 1;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #000000;
	position: absolute;
	top: .6em;
	left: .6em;
  }
  
  .lk {
  font-size: 2.2em;
  font-weight: 700;
  filter: drop-shadow(0px 0px 5PX #FFFFFF);
  }
  
  .path {
  font-size: 1.3em;
  font-weight: 700;
  filter: drop-shadow(0px 0px 5PX #FFFFFF);
  }
